@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

.main {
  background: url('../images/pattern-background-desktop.svg') no-repeat;
  width: 1440px;
  height: 100vh;
  background-color: var(--pale-blue);
}

.card {
  display: flex;
  flex-flow: column wrap;
  background: #fff;
  justify-content: flex-start;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 5px;
  box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.445);
}

img[alt='hero'] {
  border-radius: 10px 10px 0 0;
  width: 400px;
}

h2 {
  text-align: center;
  font-weight: 900;
  margin-top: 30px;
  color: var(--dark-blue);
}

p {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500, 700, 900;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
